## A partir daqui você deve alterar seu notebook conforme orientações da atividade 10 do enunciado do trabalho prático.

Nas células abaixo foram deixadas algumas dicas para você seguir.

In [7]:
import mysql.connector
import json
import requests
from datetime import datetime

In [2]:
response = requests.get("https://api-coleta-dados.herokuapp.com/api/pessoas")

In [3]:
print(response.status_code)

200

In [5]:
pessoas = []
if response.status_code == 200:
    pessoas = json.loads(response.content)

In [8]:
for pessoa in pessoas:
	    if pessoa['idade'] == None:
	        dataNascimento = datetime.strptime(pessoa['data_nasc'], '%d/%m/%Y')
	        anoCorrente = datetime.now().year
	        
	        ano = dataNascimento.year
	        idade = anoCorrente - ano
	        pessoa['idade'] = idade
	        # pessoa['data_nasc'] = dataNascimento
	        print('Nome: %s  - Data Nascimento: %s - Idade: %s' % (pessoa['nome'], pessoa['data_nasc'], pessoa['idade']))
	        
	    if len(pessoa['data_nasc']) < 10:
	        anoCorrente = datetime.now().year
	        dataNascimento = pessoa['data_nasc'] + '/' + str(anoCorrente - pessoa['idade'])
	        # dataNascimento = datetime.strptime(dataNascimento, '%d/%m/%Y')
	        pessoa['data_nasc'] = str(dataNascimento)
	        print('Nome: %s - Data Nascimento: %s - Idade: %s' % (pessoa['nome'], pessoa['data_nasc'], pessoa['idade']))

Nome: Silvana Hadassa  - Data Nascimento: 12/06/1964 - Idade: 56
Nome: Cauã Henrique - Data Nascimento: 09/03/1970 - Idade: 50
Nome: Bianca Flávia  - Data Nascimento: 23/01/1949 - Idade: 71
Nome: Arthur Filipe  - Data Nascimento: 23/12/1987 - Idade: 33
Nome: Teresinha Jaqueline  - Data Nascimento: 20/10/1968 - Idade: 52
Nome: Jorge Nicolas  - Data Nascimento: 11/07/1968 - Idade: 52
Nome: Daniel Lucca - Data Nascimento: 22/01/1999 - Idade: 21
Nome: João Pedro  - Data Nascimento: 08/05/2002 - Idade: 18
Nome: Antonio Sérgio - Data Nascimento: 15/04/1971 - Idade: 49
Nome: Thales Bento  - Data Nascimento: 18/04/1942 - Idade: 78
Nome: Carolina Márcia  - Data Nascimento: 25/11/1959 - Idade: 61
Nome: Levi Sérgio  - Data Nascimento: 21/08/1949 - Idade: 71
Nome: Rafael Ryan - Data Nascimento: 10/01/1950 - Idade: 70
Nome: Martin Edson - Data Nascimento: 15/01/1985 - Idade: 35
Nome: Isadora Sueli  - Data Nascimento: 03/07/1999 - Idade: 21
Nome: Bruno Manuel - Data Nascimento: 14/09/1963 - Idade: 57
Nome: Caio Ricardo  - Data Nascimento: 07/09/1973 - Idade: 47
Nome: Milena Rosângela  - Data Nascimento: 11/02/1989 - Idade: 31
Nome: Erick Victor - Data Nascimento: 08/10/1968 - Idade: 52
Nome: Kaique Isaac  - Data Nascimento: 16/12/1971 - Idade: 49
Nome: Fábio Roberto - Data Nascimento: 24/12/1945 - Idade: 75
Nome: Evelyn Julia  - Data Nascimento: 18/01/1978 - Idade: 42
Nome: Otávio Cláudio  - Data Nascimento: 04/01/1988 - Idade: 32

In [9]:
estados = set()
tipos_sanguineos = set()
cores = set()

In [10]:
estados = [pessoa['estado'] for pessoa in pessoas 
    if pessoa['estado'] not in estados and not estados.add(pessoa['estado'])]

In [11]:
tipos_sanguineos = [pessoa['tipo_sanguineo'] for pessoa in pessoas 
    if pessoa['tipo_sanguineo'] not in tipos_sanguineos and not tipos_sanguineos.add(pessoa['tipo_sanguineo'])]

In [12]:
cores = [pessoa['cor'] for pessoa in pessoas 
    if pessoa['cor'] not in cores and not cores.add(pessoa['cor'])]

In [13]:
print(estados)
print(tipos_sanguineos)
print(cores)

['DF', 'MS', 'AP', 'MG', 'MT', 'PE', 'AC', 'TO', 'AM', 'RO', 'GO', 'RS', 'RR', 'MA', 'ES', 'PI', 'PR', 'AL', 'SE', 'PA', 'BA', 'RJ', 'PB', 'SC', 'CE', 'RN']
['A+', 'B+', 'AB-', 'O+', 'O-', 'AB+', 'A-', 'B-']
['vermelho', 'laranja', 'verde', 'preto', 'roxo', 'azul', 'amarelo']

In [17]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='igti',
    database='db_desafio'
)

print(mydb)
cursor = mydb.cursor()

<mysql.connector.connection.MySQLConnection object at 0x0000027226C61CF8>

In [59]:
for estado in estados:        
    query = "INSERT IGNORE INTO tb_estado (sigla) values ('%s')" % estado
    cursor.execute(query)
    mydb.commit()

In [60]:
for tipo_sanguineo in tipos_sanguineos:        
    query = "INSERT IGNORE INTO tb_tiposanguineo (tipo) values ('%s')" % tipo_sanguineo
    cursor.execute(query)
    mydb.commit()

In [61]:
for cor in cores:        
    query = "INSERT IGNORE INTO tb_cor (cor) values ('%s')" % cor
    cursor.execute(query)
    mydb.commit()

In [62]:
cidades = set()

cidades = [(pessoa['cidade'], pessoa['estado']) for pessoa in pessoas if pessoa['cidade'] not in cidades and not cidades.add(pessoa['cidade'])]

print(cidades)

[('Brasília', 'DF'), ('Campo Grande', 'MS'), ('Macapá', 'AP'), ('Contagem', 'MG'), ('Rondonópolis', 'MT'), ('Olinda', 'PE'), ('Rio Branco', 'AC'), ('Araguaína', 'TO'), ('Manaus', 'AM'), ('Caruaru', 'PE'), ('Porto Velho', 'RO'), ('Planaltina', 'GO'), ('Santa Cruz do Sul', 'RS'), ('Porto Alegre', 'RS'), ('Carpina', 'PE'), ('Boa Vista', 'RR'), ('Imperatriz', 'MA'), ('São Luís', 'MA'), ('Cacoal', 'RO'), ('Cariacica', 'ES'), ('Parnaíba', 'PI'), ('Santana', 'AP'), ('Ponta Grossa', 'PR'), ('Arapiraca', 'AL'), ('Águas Lindas de Goiás', 'GO'), ('Cianorte', 'PR'), ('Aracaju', 'SE'), ('Belém', 'PA'), ('Jataí', 'GO'), ('Várzea Grande', 'MT'), ('Maceió', 'AL'), ('Salvador', 'BA'), ('Macaé', 'RJ'), ('Cuiabá', 'MT'), ('Santa Luzia do Itanhy', 'SE'), ('João Pessoa', 'PB'), ('Brusque', 'SC'), ('Rio Grande', 'RS'), ('Juazeiro do Norte', 'CE'), ('Natal', 'RN'), ('Londrina', 'PR')]

In [64]:
for cidade in cidades:
    query_cidade_exists = "SELECT COUNT(*) FROM tb_cidade WHERE nome = '%s'" % cidade[0]
    cursor.execute(query_cidade_exists)
    qtd_cidade = cursor.fetchone()[0]
    
    if qtd_cidade == 0:
        queryestado = "SELECT id FROM tb_estado WHERE sigla = '%s'" % cidade[1]
        cursor.execute(queryestado)
        id_estado = cursor.fetchone()[0]
 
        querycidade = "INSERT INTO tb_cidade (nome, id_estado) VALUES ('%s', %s) " % (cidade[0], id_estado)
    
        cursor.execute(querycidade)
        mydb.commit()

In [67]:
for pessoa in pessoas:
    querycidade = "SELECT id FROM tb_cidade WHERE nome = '%s'" % pessoa['cidade']
    cursor.execute(querycidade)
    id_cidade = cursor.fetchone()[0]
    
    querycor = "SELECT id FROM tb_cor WHERE cor = '%s'" % pessoa['cor']
    cursor.execute(querycor)
    id_cor = cursor.fetchone()[0]
    
    queryts = "SELECT id FROM tb_tiposanguineo WHERE tipo = '%s'" % pessoa['tipo_sanguineo']
    cursor.execute(queryts)
    id_tiposanguineo = cursor.fetchone()[0]

    altura = float(str(pessoa['altura']).replace(',','.'))

    peso = pessoa['peso']
    
    data = "STR_TO_DATE('" + pessoa['data_nasc'] + "','%d/%m/%Y')"
    
    sexo = 'F' if pessoa['sexo'] == 'Feminino' else 'M'
    
    
    valores = (pessoa['nome'], pessoa['idade'], data, sexo, pessoa['signo'], altura, peso, id_cidade, id_cor, id_tiposanguineo)
    
    
    querypessoas = "INSERT INTO tb_pessoa (nome, idade, data_nasc, sexo, signo, altura, peso, id_cidade, id_cor, id_tiposanguineo) "
    querypessoas += "VALUES ('%s', %s, %s, '%s', '%s', %s, %s, %s, %s, %s) " % valores
    cursor.execute(querypessoas)
    mydb.commit()

Nome: Silvana Hadassa
Altura: 1.67
Peso: 50
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Thales Kaique
Altura: 1.63
Peso: 110
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Henry Nathan
Altura: 1.86
Peso: 106
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Lorenzo Vinicius
Altura: 1.87
Peso: 100
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Cauã Henrique
Altura: 1.74
Peso: 83
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Francisco Thomas
Altura: 1.91
Peso: 64
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Bianca Flávia
Altura: 1.54
Peso: 76
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Arthur Filipe
Altura: 1.91
Peso: 54
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Teresinha Jaqueline
Altura: 1.84
Peso: 59
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Manuel Luís
Altura: 1.81
Peso: 85
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Jorge Nicolas
Altura: 1.87
Peso: 54
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Ricardo Paulo
Altura: 1.86
Peso: 52
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Gustavo Joaquim
Altura: 1.62
Peso: 106
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Isabel Yasmin
Altura: 1.64
Peso: 53
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Daniel Lucca
Altura: 1.84
Peso: 105
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Benício Guilherme
Altura: 1.63
Peso: 95
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: João Pedro
Altura: 1.95
Peso: 57
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Sandra Milena
Altura: 1.7
Peso: 84
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Antonio Sérgio
Altura: 1.65
Peso: 71
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Arthur Sérgio
Altura: 1.97
Peso: 51
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Larissa Esther
Altura: 1.68
Peso: 69
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Thales Bento
Altura: 1.95
Peso: 64
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Breno Rafael
Altura: 1.94
Peso: 108
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Tiago Gael
Altura: 1.68
Peso: 58
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Carolina Márcia
Altura: 1.5
Peso: 45
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Levi Sérgio
Altura: 1.83
Peso: 68
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Juan Theo
Altura: 1.67
Peso: 77
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Rafael Ryan
Altura: 1.98
Peso: 85
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Malu Emilly
Altura: 1.62
Peso: 48
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Alice Bárbara
Altura: 1.78
Peso: 80
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Martin Edson
Altura: 1.6
Peso: 59
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Danilo Jorge
Altura: 1.79
Peso: 87
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Isadora Sueli
Altura: 1.59
Peso: 88
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Maya Tatiane
Altura: 1.83
Peso: 89
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Bruno Manuel
Altura: 1.6
Peso: 92
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Gabriel Luan
Altura: 1.71
Peso: 93
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Henry Elias
Altura: 1.83
Peso: 103
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Marcela Laura
Altura: 1.52
Peso: 79
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Amanda Luna
Altura: 1.67
Peso: 55
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Caio Ricardo
Altura: 1.61
Peso: 97
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Mariane Sabrina
Altura: 1.67
Peso: 70
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Juliana Vanessa
Altura: 1.51
Peso: 67
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Milena Rosângela
Altura: 1.58
Peso: 88
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Osvaldo Augusto
Altura: 1.79
Peso: 107
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Nathan Igor
Altura: 1.86
Peso: 91
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Letícia Patrícia
Altura: 1.62
Peso: 64
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Sophia Andrea
Altura: 1.63
Peso: 47
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Aurora Lúcia
Altura: 1.57
Peso: 73
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Bruna Teresinha
Altura: 1.7
Peso: 77
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Erick Victor
Altura: 1.68
Peso: 104
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Gabrielly Stella
Altura: 1.77
Peso: 70
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Osvaldo Vitor
Altura: 1.67
Peso: 74
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Alana Kamilly
Altura: 1.59
Peso: 88
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Bryan Kaique
Altura: 1.62
Peso: 110
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Benedito Renato
Altura: 1.88
Peso: 81
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Kaique Isaac
Altura: 1.89
Peso: 100
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Luiz Benjamin
Altura: 1.84
Peso: 77
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Fábio Roberto
Altura: 2.0
Peso: 56
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Evelyn Julia
Altura: 1.79
Peso: 51
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>
Nome: Otávio Cláudio
Altura: 1.72
Peso: 99
Id_Cidade: <class 'int'>
Id_Cor: <class 'int'>
Id_Tiposanguineo: <class 'int'>

In [69]:
mydb.close()