# Manipulação de Dados no MongoDB com R

Para detalhes sobre o pacote mongolite acesse:
* https://cran.r-project.org/web/packages/mongolite/index.html

In [1]:
#install.packages('mongolite')

package 'mongolite' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Kálvin Antunes\AppData\Local\Temp\RtmpqYVxlv\downloaded_packages

In [4]:
#importação de biblioteca
require(mongolite)

**OBSERVAÇÃO:** A mensagem de erro abaixo indica que você não tem o pacote RMongo instalado

*Loading required package: mongolite* - 
*Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
"there is no package called 'mongolite'"*

**Para instalar execute o comando abaixo:**

* install.packages('mongolite')

### Ler a coleção Iris no arquivo CSV e inserir no MongoDB

In [7]:
iris <- read.csv("C:/Bootcamp/Datasets/CSV/Iris.csv");

In [8]:
#Conecta ao SGBD MongoDB, a uma coleção específica

connection <- mongo(collection = "iris", db = "igti", url = "mongodb://localhost")

In [9]:
connection$insert(iris)

List of 5
 $ nInserted  : num 150
 $ nMatched   : num 0
 $ nRemoved   : num 0
 $ nUpserted  : num 0
 $ writeErrors: list()

In [10]:
connection$find(limit = 5)

  sepal_length sepal_width petal_length petal_width variety
1 5.1          3.5         1.4          0.2         Setosa
2 4.9          3.0         1.4          0.2         Setosa
3 4.7          3.2         1.3          0.2         Setosa
4 4.6          3.1         1.5          0.2         Setosa
5 5.0          3.6         1.4          0.2         Setosa

In [11]:
pessoas <- mongo(collection ="pessoas", db = "igti", url = "mongodb://localhost")
str <- c('{"nome" : "maria"}' , '{"nome": "ana", "idade" : 23}', '{"nome": "joão"}')
pessoas$insert(str)

List of 6
 $ nInserted  : int 3
 $ nMatched   : int 0
 $ nModified  : int 0
 $ nRemoved   : int 0
 $ nUpserted  : int 0
 $ writeErrors: list()

In [12]:
pessoas$find()

  nome  idade
1 maria NA
2 ana   23
3 joão  NA

In [13]:
pessoas$count()

[1] 3

In [14]:
pessoas$remove('{"idade" : 23}')
pessoas$count()

[1] 2

In [17]:
pessoas$find()

  nome
1 maria
2 joão

In [18]:
str <- c('{"nome" : "bill"}' , '{"nome": "anna", "idade" : 23}', '{"nome": "jose","idade" : 35}')
pessoas$insert(str)

List of 6
 $ nInserted  : int 3
 $ nMatched   : int 0
 $ nModified  : int 0
 $ nRemoved   : int 0
 $ nUpserted  : int 0
 $ writeErrors: list()

In [19]:
pessoas$find()

  nome  idade
1 maria NA
2 joão  NA
3 bill  NA
4 anna  23
5 jose  35

In [20]:
pessoas$update('{"nome":"bill"}', '{"$set":{"idade": 21}}')

List of 3
 $ modifiedCount: int 1
 $ matchedCount : int 1
 $ upsertedCount: int 0

In [21]:
pessoas$find()

  nome  idade
1 maria NA
2 joão  NA
3 bill  21
4 anna  23
5 jose  35